<div
  class="tile-container"
  [ngClass]="{ 'tile-container-hover': !tileData.isActive && isHovered }"
  (click)="setActiveTile(tileData)"
  (mouseenter)="isHovered = true"
  (mouseleave)="isHovered = false"
>
  <div *ngIf="tileData.isActive === true">
    <div class="row1">
      <div
        [ngStyle]="{
          color:
            tileData.direction === directionEnum.NORTH ? '#28b8bc' : '#2a3538'
        }"
      >
        <mat-icon
          aria-hidden="false"
          aria-label="{directionEnum.NORTH}"
          fontIcon="expand_less"
        ></mat-icon>
      </div>
    </div>
    <div class="row2">
      <div
        [ngStyle]="{
          color:
            tileData.direction === directionEnum.WEST ? '#28b8bc' : '#2a3538'
        }"
      >
        <mat-icon
          aria-hidden="false"
          aria-label="{directionEnum.WEST}"
          fontIcon="chevron_left"
        ></mat-icon>
      </div>
      <div>
        <mat-icon
          aria-hidden="false"
          aria-label="robot icon"
          fontIcon="smart_toy"
        ></mat-icon>
      </div>
      <div
        [ngStyle]="{
          color:
            tileData.direction === directionEnum.EAST ? '#28b8bc' : '#2a3538'
        }"
      >
        <mat-icon
          aria-hidden="false"
          aria-label="{directionEnum.EAST}"
          fontIcon="chevron_right"
        ></mat-icon>
      </div>
    </div>
    <div class="row3">
      <div
        [ngStyle]="{
          color:
            tileData.direction === directionEnum.SOUTH ? '#28b8bc' : '#2a3538'
        }"
      >
        <mat-icon
          aria-hidden="false"
          aria-label="{directionEnum.SOUTH}"
          fontIcon="expand_more"
        ></mat-icon>
      </div>
    </div>
  </div>
</div>
