<div class="robot-container">
  <div class="instructions">
    <p>Click to place the robot, use the buttons or arrows to move.</p>
  </div>
  <div class="robot-table">
    <app-tile
      *ngFor="let items of data; let i = index"
      [tileData]="data[i]"
      (tileClicked)="tileClicked($event)"
    ></app-tile>
  </div>
  <div class="controls">
    <div class="controls-row">
      <button mat-raised-button color="success" (click)="rotateLeft()">
        <div class="rotate-left">
          <mat-icon>rotate_90_degrees_ccw</mat-icon>
        </div>
      </button>
      <button mat-raised-button color="success" (click)="moveRobot()">
        Move
      </button>
      <button mat-raised-button color="success" (click)="rotateRight()">
        <div class="rotate-right">
          <mat-icon>rotate_90_degrees_cw</mat-icon>
        </div>
      </button>
    </div>
    <div class="controls-row">
      <button mat-raised-button (click)="report()">Report</button>
    </div>
  </div>
</div>
